.button {
  font-size: 12px;
  line-height: 16px;
  font-family: $secondary-font;
  color: $white-color-text;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $bg-basic-green;
}
