/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-size: 14px;
  line-height: 18px;
  font-family: $primary-font;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
