/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: $primary-font;
  font-weight: 400;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  @include button;
}
