@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button {
  font-size: 12px;
  line-height: 16px;
  font-family: $secondary-font;
  color: $white-color-text;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $bg-basic-green;
}
