/* GLOBAL */
@import "./common/variables";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/global";

/* BLOCKS */
@import "./blocks/main-header";
@import "./blocks/logo";
@import "./blocks/main-nav";
@import "./blocks/site-list";
@import "./blocks/promo";
@import "./blocks/programs";
@import "./blocks/advantages";
@import "./blocks/example";
@import "./blocks/slider.scss";
@import "./blocks/contacts";
@import "./blocks/social";
@import "./blocks/academy";
@import "./blocks/catalog";
@import "./blocks/product-card";
@import "./blocks/title";
@import "./blocks/additional-products";
@import "./blocks/goods-card";
@import "./blocks/promotion";
@import "./blocks/subscribtion";
@import "./blocks/footer";
