.academy {
  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 34px;

    @include icon-bg("../icons/icon-academy.svg");
  }

  &:hover::before,
  &:focus::before {
    @include icon-bg("../icons/icon-academy-focus.svg");
  }
}
