.advantages {

}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $secondary-font;
  color: $dark-color-text;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {

}

.advantages__item--leaf {

}

.advantages__item--powder {

}

.advantages__item--meal {

}

.advantages__text {
  color: $base-color-text;
}
