.catalog {

}

.catalog__wrapper {

}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-family: $secondary-font;
  color: $dark-color-text;
}

.catalog__list {
  list-style-type: none;
}

.catalog__item {

}
