.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $bg-basic-grey;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    background-color: $white-color-text;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    background-color: $white-color-text;
    top: 95px;
    left: 110px;
  }
}

.contacts__title {
  margin: 0;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  font-family: $primary-font;
  color: $base-color-text;
  font-style: inherit;

  @media (min-width: $tablet-width) {
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    gap: 20px;
  }
}

.contacts__map-img,
.contacts__map-frame {
  width: 100%;
  height: 362px;
  display: block;
}

.no-js .contacts__map-frame {
  display: none;
}

.js .contacts__map-frame {
  display: block;
}
