.example {
  min-width: 320px;
  padding: 25px 0 40px;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f2f2f2;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    background-color: transparent;
    padding: 0 0 100px;

    &::after {
      top: 572px;
      height: calc(100% - 572px);
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 135px;
      height: calc(100% - 135px);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 224px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px 75px;
    flex-direction: row;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $secondary-font;
  color: $dark-color-text;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  color: $base-color-text;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__statistics-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: column;
    align-items: start;
    row-gap: 60px;
  }
}

.example__statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__stats {
  width: 280px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    width: 367px;
    gap: 43px;
  }
}

.example__item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    max-width: 162px;
  }

  &::before {
    content: "";
    position: absolute;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    inset: 0 0 14px;

    @media (min-width: $tablet-width) {
      inset: 0;
    }
  }
}

.example__label {
  position: relative;
  max-width: 77px;
  font-size: 12px;
  line-height: 12px;
  font-family: $primary-font;
  color: $base-color-text;
  text-transform: lowercase;
  margin: 0;
  text-align: center;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;
    max-width: 100%;
    background: $white-color-text;
    bottom: -6px;
    padding: 0 8px;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
    max-width: 100%;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 6px;
  }
}

.example__cost {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }
}
