.footer {

}

.footer__contacts {

}

.footer__wrapper {
  background-color: $bg-basic-grey;
}

.footer__logo {

}

.footer__social {
  list-style-type: none;
}

.footer__academy {
  font-size: 16px;
  line-height: 20px;
  font-family: $primary-font;
  color: $base-color-text;
  text-decoration: none;
}
