.main-nav {
  position: relative;
  text-align: center;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  top: -50px;
  right: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  background-size: 24px 24px;
  width: 32px;
  height: 32px;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle--close {
  @include icon-bg("../icons/nav-toggle.svg");
}

.main-nav__toggle--opened {
  @include icon-bg("../icons/close-icon.svg");
}

.main-nav__wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1001;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    z-index: 0;
  }
}

.main-nav--opened .main-nav__wrapper {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: $white-color-text;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.no-js .main-nav__toggle {
  display: none;
}

.no-js .main-nav__wrapper {
  display: block;
  position: relative;
}

.js .main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.js .main-nav--opened .main-nav__wrapper {
  display: block;
}
