.product-card {

}

.product-card__link {

}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  text-transform: uppercase;
}

.product-card__link {
  color: #222222;
  text-decoration: none;
}

.product-card__image {

}

.product-card__info {
  list-style-type: none;
}

.product-card__info-item {

}

.product-card__label {
  font-size: 12px;
  line-height: 16px;
  font-family: $primary-font;
  color: $base-color-text;
}

.product-card__value {
  font-size: 12px;
  line-height: 16px;
  font-family: $primary-font;
  color: $base-color-text;
}

.product-card__button {

}
