.programs {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $bg-basic-grey;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs__item--slim::after {

}

.programs__item--slim::before {
  content: "";
  display: block;

  @include icon-bg("../icons/cat-slim.svg");
}

.programs__item--pro::after {

}

.programs__item--pro::before {
  content: "";
  display: block;

  @include icon-bg("../icons/cat-pro.svg");
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__text {
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__link::after {
  content: "";
  display: inline-block;
  background-color: #000000;
  width: 24px;
  height: 12px;
  mask-image: url("../icons/arrow.svg");
  mask-position: 100%;
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
}

.programs__link::after {
  content: "";
  display: inline-block;
  background-color: #000000;
  width: 24px;
  height: 12px;
  mask-image: url("../icons/arrow.svg");
  mask-position: 100%;
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
}
