.programs {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
    margin: 0 auto 70px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: #f2f2f2;
  border: rgba(217, 217, 217, 1);
  padding: 20px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 60px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 41px 61px 64px 52px;
  }
}

.programs__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.programs__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  font-family: $secondary-font;
  color: $dark-color-text;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 29px;
  padding-top: 10px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.programs__title--slim::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  left: 0;
  top: 5px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    left: auto;
    right: 0;
    top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    left: 0;
    top: 5px;
  }
}

.programs__title--slim::before {
  position: absolute;
  width: 36px;
  height: 50px;
  content: "";
  display: block;
  z-index: 1;
  left: 7px;
  top: 2px;

  @include icon-bg("../icons/cat-slim.svg");

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    left: auto;
    right: 29px;
    top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 15px;
    top: 0;
  }
}

.programs__title--pro::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  left: 0;
  top: 5px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    left: auto;
    right: 0;
    top: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    left: 0;
    top: 5px;
  }
}

.programs__title--pro::before {
  position: absolute;
  width: 67px;
  height: 28px;
  content: "";
  display: block;
  z-index: 1;
  left: -10px;
  top: 15px;

  @include icon-bg("../icons/cat-pro.svg");

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    left: auto;
    right: -39px;
    top: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    left: -18px;
    top: 26px;
  }
}

.programs__text {
  color: $base-color-text;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid#D9D9D9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    padding-bottom: 48px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.programs__link {
  display: block;
  padding-top: 18px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #000000;
    width: 28px;
    height: 12px;
    mask-image: url("../icons/arrow.svg");
    mask-position: 100%;
    mask-size: 32px 12px;
    mask-repeat: no-repeat;
    left: 102px;
    top: 20px;

    @media (min-width: $tablet-width) {
      left: 133px;
      top: 14px;
    }
  }

  &:hover::after {
    mask-size: 24px 12px;
  }
}
