.promo {
  background-size: 100%;
  background-image: linear-gradient(to top, #ffffff 178px, rgba(104, 183, 56, 0.85) 178px), url("/images/cat-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    background: 0 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    max-height: 573px;
    padding: 0 110px;
    margin: 0 auto 112px;
  }
}

.promo__container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 34px 30px 526px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 726px 155px 80px;
  }
}

.promo__title {
  margin: 27px auto 25px;
  text-align: center;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-family: $secondary-font;
  color: $white-color-text;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 40px;
    margin-left: 90px;
    position: relative;
    width: 424px;
    font-size: 60px;
    line-height: 60px;
    color: $dark-color-text;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 38px;
  }
}

.promo__text {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 14px;
  font-family: $secondary-font;
  color: $white-color-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $dark-color-text;
    text-align: left;
    margin: 0 0 50px 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    left: auto;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 550px;
    top: 0;
    left: calc(50% - 162px);
  }
}

.promo__button {
  padding: 10px 64px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 242px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 24px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
