.promo {
  background-size: 100%;
  background-image: linear-gradient(to top, #ffffff 178px, rgba(104, 183, 56, 0.85) 178px), url("/images/cat-background-mobile@1x.png");
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    background: 0 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    max-height: 573px;
    padding: 0 110px;
    margin: 0 auto 134px;
  }
}

.promo__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.promo__wrapper {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }
}

.promo__title {
  margin: 27px auto 25px;
  text-align: center;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-family: $secondary-font;
  color: $white-color-text;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 40px;
    position: relative;
    width: 424px;
    font-size: 60px;
    line-height: 60px;
    color: $dark-color-text;
    text-align: left;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  font-family: $secondary-font;
  color: $white-color-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $dark-color-text;
    text-align: left;
    margin: 0 0 50px 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (width: $tablet-width) {
    position: absolute;
    z-index: -1;
  }
}

.promo__button {
  margin: 0 20px;
  padding: 10px 64px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 242px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 24px;
    top: 33%;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    top: 60%;
    margin-left: 80px;
  }
}
