.promo {

}

.promo__wrapper {
  background-color: $bg-basic-green;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-family: $secondary-font;
  color: $white-color-text;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  font-family: $secondary-font;
  color: $white-color-text;
  text-transform: uppercase;
}

.promo__button {

}
