.show-more {

}

.show-more__cross {

}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  color: #111111;
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  font-family: $primary-font;
  color: $base-color-text;
}

.show-more__button {
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  color: $base-color-text;
  background-color: $bg-basic-grey;
}
