.site-list {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
  }
}

.site-list__item {

}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 20px;
      color: $white-color-text;
    }
  }
}
