.site-list {

}

.site-list__item {

}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-decoration: none;
  text-transform: uppercase;
}
