.social__link {
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 28px;
  min-height: 28px;
  display: block;

  &:hover,
  &:focus {
    background-color: $bg-basic-green;

    &:active {
      opacity: 0.3;
    }
  }
}

.social__link--vkontakte {
  background-color: #666666;
  mask-image: url("/icons/icon-vk.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.social__link--youtube {
  background-color: #666666;
  mask-image: url("/icons/icon-youtube.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.social__link--telegram {
  background-color: #666666;
  mask-image: url("/icons/icon-telegram.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}
