.subscribtion {

}

.subscribtion__title {
  font-size: 24px;
  line-height: 24px;
  font-family: $secondary-font;
  color: $dark-color-text;
}

.subscribtion__description {
  font-size: 16px;
  line-height: 24px;
  font-family: $secondary-font;
  color: $dark-color-text;
}

.subscribtion__form {

}

.subscribtion__label {

}

.subscribtion__field {
  font-size: 20px;
  line-height: 100%;
  font-family: $secondary-font;
  color: $base-color-text;
}

.subscribtion__button {
  font-size: 20px;
  line-height: 26px;
}
