.subscribtion {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto 100px;
    padding: 0 110px;
  }
}

.subscribtion__container {
  padding: 0 20px;
  min-width: 320px;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.subscribtion__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.subscribtion__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: $secondary-font;
  color: $dark-color-text;
  width: 192px;
  background-color: $white-color-text;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    width: 290px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 72px;
    width: 420px;
    right: 20px;
  }
}

.subscribtion__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: $secondary-font;
  color: $dark-color-text;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 632px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto 25px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.subscribtion__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 632px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
    margin: 0 auto;
  }
}

.subscribtion__field {
  margin: 0;
  margin-bottom: 16px;
  padding: 13px;
  width: 100%;
  font-size: 20px;
  line-height: 100%;
  font-family: $secondary-font;
  color: $base-color-text;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid $dark-color-text;
    outline: none;
  }

  &:invalid:not(:placeholder-shown) {
    border: 1px solid #ff8282;
  }

  &::placeholder {
    color: $base-color-text;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.subscribtion__button {
  @include button;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  line-height: 26px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
    width: 256px;
  }
}
