.title {
  position: relative;
  width: fit-content;
  margin: 0 0 36px -20px;
  padding: 0 40px 0 20px;
  background-color: $white-color-text;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    margin-bottom: 80px;
  }
}

.title__line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 200vw;
    background-color: #68b738;
    top: 60%;
    z-index: -1;
    left: calc((100vw - 100%) / -2);
  }
}
